<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hryvinskyi\SeoRobotsFrontend\Model\IgnoredActionsList">
        <arguments>
            <argument name="list" xsi:type="array">
                <item name="review_product_listajax" xsi:type="string">review_product_listajax</item>
                <item name="customer_address_form" xsi:type="string">customer_address_form</item>
                <item name="customer_address_index" xsi:type="string">customer_address_index</item>
                <item name="returns_attachment_download" xsi:type="string">returns_attachment_download</item>
            </argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\SeoRobotsFrontend\Model\IgnoredUrlsList">
        <arguments>
            <argument name="list" xsi:type="array">
                <item name="checkout/" xsi:type="string">checkout/</item>
                <item name="onestepcheckout" xsi:type="string">onestepcheckout</item>
            </argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\SeoRobotsFrontend\Model\ApplyRobots">
        <arguments>
            <argument name="robotsProviders" xsi:type="array">
                <item name="url_pattern" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\UrlPatternRobotsProvider</item>
                <item name="noroute" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\NoRouteRobotsProvider</item>
                <item name="pagination" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\PaginationRobotsProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\SeoRobotsFrontend\Model\GetXRobotsByRequest">
        <arguments>
            <argument name="xrobotsProviders" xsi:type="array">
                <item name="https" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\HttpsXRobotsProvider</item>
                <item name="url_pattern" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\UrlPatternXRobotsProvider</item>
                <item name="noroute" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\NoRouteXRobotsProvider</item>
                <item name="pagination" xsi:type="object">Hryvinskyi\SeoRobotsFrontend\Model\Provider\PaginationXRobotsProvider</item>
            </argument>
        </arguments>
    </type>
</config>
